@import './../../../../assets/scss/main-theme';

.users {
  background-color: $secondary-background;
  border-radius: 20px;

  @media (max-width: $screen-sm) {
    margin: 40px 40px 0;
    width: 100%;
  }

  &__list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__user-img-wrapper {
    cursor: pointer;
  }

  &__user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__vote {
    font-size: 24px;
    font-weight: 600;
  }

  &__vote,
  &__status {
    color: $red;
    cursor: pointer;
    margin-left: 10px;
  }
}
