


<div>
    <mat-list>
        <h3 mat-subheader>List of stories</h3>
        <mat-list-item>
            <label>
                <input type="text" [(ngModel)]="listItem">
                <button mat-raised-button (click)="onAddItem()" [disabled]="!listItem.length">Add storie</button>
            </label>
        </mat-list-item>
        <mat-list-item *ngFor="let item of listArray">
            <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>{{ item.name }}</h4>
        </mat-list-item>
    </mat-list>
</div>
