@import './../../../assets/scss/main-theme';

.list {

  &__add-ticket {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: initial;
      height: 100%;
      width: 100%;
    }
  }

  &__ticket {

    &-input {
      border-radius: 10px;
      border: 0;
      color: #FFF;
      height: 30px;
      margin-right: 10px;
      padding: 0 10px;
      width: 400px;

      @media (max-width: $screen-sm) {
        margin: 5px 0;
        padding: 0;
        width: 100%;
      }
    }

    &-btn {
      border-radius: 10px;
      margin-left: 10px;

      @media (max-width: $screen-sm) {
        margin: 5px 0;
      }
    }
  }

  &__mat-list {

    &--active {
      background-color: #626565;
      border-radius: 10px;
    }
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 100%;
  }

  .mat-badge-content {
    background-color: $red;
  }

}

mat-form-field {
  width: 400px;

  @media (max-width: $screen-sm) {
    width: 100%;
  }
}