<div class="list">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="activeTickets?.length" matBadgeOverlap="false">Active Tickets</span>
      </ng-template>

      <mat-list>
        <mat-list-item *ngIf="currentUser?.isAdmin">
          <label class="list__add-ticket">
            <mat-form-field>
              <input matInput class="list__ticket-input" placeholder="Enter new ticket" [(ngModel)]="ticket">
            </mat-form-field>
            <button class="list__ticket-btn" mat-raised-button (click)="onAddTicket()" [disabled]="!ticket.length">Add ticket</button>
            <button class="list__ticket-btn" mat-raised-button (click)="addTicketsFromText()">Add tickets from text</button>
          </label>
        </mat-list-item>

        <ng-container *ngIf="activeTickets?.length">
          <mat-list-item *ngFor="let ticket of activeTickets" class="list__mat-list" [class.list__mat-list--active]="ticket.ticketId === session?.activeTicket">
            <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>{{ ticket.title }}</h4>
            <button *ngIf="currentUser?.isAdmin" mat-icon-button (click)="onRemoveTicket(ticket)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="completedTickets?.length" matBadgeOverlap="false">Completed Tickets</span>
      </ng-template>

      <mat-list>
        <ng-container *ngIf="completedTickets?.length">
          <mat-list-item *ngFor="let ticket of completedTickets" class="list__mat-list">
            <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>{{ ticket.title }}</h4>
            <button *ngIf="currentUser?.isAdmin" mat-icon-button (click)="onRemoveTicket(ticket)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </mat-list>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="tickets?.length" matBadgeOverlap="false">All Tickets</span>
      </ng-template>

      <mat-list>
        <ng-container *ngIf="tickets?.length">
          <mat-list-item *ngFor="let ticket of tickets" class="list__mat-list">
            <mat-icon mat-list-icon>description</mat-icon>
            <h4 mat-line>{{ ticket.title }}</h4>
            <button *ngIf="currentUser?.isAdmin" mat-icon-button (click)="onRemoveTicket(ticket)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </mat-list>

    </mat-tab>

  </mat-tab-group>

</div>