.add-ticket {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: 470px) {
    flex-direction: column;
    align-items: initial;
    height: 100%;
    width: 100%;
  }
}

.ticket-input {
  background-color: #000;
  border-radius: 10px;
  border: 0;
  color: #FFF;
  font-size: 14px;
  height: 30px;
  margin-right: 10px;
  padding: 0 10px;
  width: 400px;

  @media (max-width: 470px) {
    margin: 5px 0;
    padding: 0;
    width: 100%;
  }
}

.ticket-btn {
  border-radius: 10px;
  margin-left: 10px;

  @media (max-width: 470px) {
    margin: 5px 0;
  }
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 100%;
}

.test {
  background-color: #626565;
  border-radius: 10px;
}