<div class="cards-wrapper">
    <div class="card" [class.card--selected]="card.value === selected?.value" *ngFor="let card of izyanArray" (click)="onCardClick(card)">
        <div class="card__header">
            <div>{{ card.secondaryText }}</div>
            <div>{{ card.secondaryText }}</div>
        </div>
        <div class="card__body">
            {{ card.mainText }}
        </div>
        <div class="card__footer">
            <div>{{ card.secondaryText }}</div>
            <div>{{ card.secondaryText }}</div>
        </div>
    </div>
</div>
