@import "../../../assets/main-theme";

.cards-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    background-color: @secondary-background;
    border-radius: 10px;
    color: @main-font-color;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin: 8px;
    transition: .3s;
    padding: 5px;
    width: 130px;
    height: 150px;
    box-sizing: border-box;

    &:hover {
      border: 3px solid @border-accent1;
      transform: scale(1.1, 1.1);
    }

    &--selected {
      background-color: @light-background;
      color: @dark-font-color;
    }

    @media (max-width: @screen-xs-max) {
      width: 70px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__body {
    align-self: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    user-select: none;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    transform: rotateY(-180deg);
  }
}
