@import '../../../assets/scss/main-theme';

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $screen-md) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 170px;
    width: 100%;

    @media (max-width: $screen-md) {
      max-width: 100%;
    }
  }

  &__text-info {
    margin: 20px 30px 0 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    background: linear-gradient(to right, white 10%, #acacac 50%, white 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;

    p {
      margin: 0;
    }
  }

  &__text-link {
    margin-top: 10px;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: .3s;

    &:hover {
      color: darken(white, 50);
    }
  }

  &__img {
    img {
      display: block;
      max-height: 500px;
      max-width: 100%;
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
