<div class="admin-panel">
  <div class="admin-panel__header xs-py-2 xs-px-20">
    <h3>Admin Panel</h3>
  </div>
  <h4 class="xs-px-15">
    Select cards type:
  </h4>
  <div class="xs-mt-10 xs-px-15">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button
        *ngFor="let type of cardTypes"
        class="w-100 xs-mb-10"
        (change)="onChangeCardType(type)"
        [checked]="selectedType === type"
        [value]="type"
      >{{ type | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
