<div class="home">
  <div class="home--desktop">

    <img *ngIf="christmasThemeEnabled$ | async" class="home__login-img" src="/assets/images/christmas-card.png" alt="">
    <img *ngIf="!christmasThemeEnabled$ | async" class="home__login-img" src="/assets/images/background.jpg" alt="">

    <div class="home__login-form">
      <div class="home__login-btn-wrapper home__card">
        <div class="home__card__header">
          <ng-container *ngIf="!christmasThemeEnabled$ | async">
            <div><img class="home__card-icon" src="/assets/images/poker.png" alt=""></div>
            <div><img class="home__card-icon" src="/assets/images/poker.png" alt=""></div>
          </ng-container>
          <ng-container *ngIf="christmasThemeEnabled$ | async">
            <div><img class="home__card-icon" src="/assets/images/santa-icon.png" alt=""></div>
            <div><img class="home__card-icon" src="/assets/images/santa-icon.png" alt=""></div>
          </ng-container>
        </div>
        <div class="home__card__body">
          <button (click)="onLoginWithGoogle()" type="button" mat-raised-button class="home__login-btn">
            <img *ngIf="christmasThemeEnabled$ | async" class="home__google-img" src="/assets/images/red-google.svg" alt="">
            <img *ngIf="!christmasThemeEnabled$ | async" class="home__google-img" src="/assets/images/google.svg" alt="">
          </button>
        </div>
        <div class="home__card__footer">
          <ng-container *ngIf="!christmasThemeEnabled$ | async">
            <div><img class="home__card-icon" src="/assets/images/poker.png" alt=""></div>
            <div><img class="home__card-icon" src="/assets/images/poker.png" alt=""></div>
          </ng-container>
          <ng-container *ngIf="christmasThemeEnabled$ | async">
            <div><img class="home__card-icon" src="/assets/images/santa-icon.png" alt=""></div>
            <div><img class="home__card-icon" src="/assets/images/santa-icon.png" alt=""></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="home--mobile">
    <button class="home__mobile-button" mat-raised-button (click)="onLoginWithGoogle()">
      <span class="home__mobile-button__text">Login with Google</span>
      <img class="home__google-img" src="/assets/images/google.svg" alt="">
    </button>
  </div>
</div>
