.textfield-popup {

  &__input {
    background-color: #000;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
    resize: none;
    width: calc(100% - 20px);
  }
}
