.container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mat-list {
  margin-top: 20px;
  background-color: #b0bec5;
  border-radius: 20px;
  width: 400px;
}
