<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <app-admin-panel></app-admin-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon mat-list-icon class="back-icon" [class.hidden]="!(showBackButton$ | async)" (click)="onGoBack()">arrow_back_ios</mat-icon>
      <div class="title">Planning Poker</div>
      <ng-container *ngIf="session$ | async as session">
        {{ session?.title }}
      </ng-container>
      <div class="nav-links">
        <app-share></app-share>
        <ng-container *ngIf="user$ | async as user">
          <mat-icon *ngIf="userData?.isAdmin" (click)="sidenav.toggle()" class="admin-icon" mat-list-icon>
            menu
          </mat-icon>
          <mat-icon class="admin-icon" (click)="logout()"
            mat-list-icon>exit_to_app
          </mat-icon>
        </ng-container>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
