@import "../assets/scss/main-theme";

mat-sidenav {
  background-color: $main-accent;

  &-container {
    height: 100%;
    width: 100%;
  }

  &-content {
    background-color: $main-accent;
  }
}

mat-toolbar {
  align-items: center;
  background-color: $secondary-background;
  display: flex;
  justify-content: space-between;

  .title {
    flex: 1 1 auto;
  }
}

.nav-links {
  display: flex;
}

.back-icon,
.admin-icon {
  cursor: pointer;
  padding-left: 10px;
  transition: .3s;

  &:hover {
    color: darken(white, 50);
  }
}
