@import "../assets/main-theme";

mat-toolbar {
  align-items: center;
  background-color: @secondary-background;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

.logout-icon {
  cursor: pointer;
  padding-left: 10px;
}