<mat-sidenav-container *ngIf="christmasThemeEnabled$ | async as themeConfiguration">
  <mat-sidenav #sidenav mode="over" position="end">
    <app-admin-panel
      [selectedType]="(session$ | async)?.cardsType || selectedCardType"
    ></app-admin-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon mat-list-icon class="back-icon" [class.hidden]="!(showBackButton$ | async)" (click)="onGoBack()">arrow_back_ios</mat-icon>
      <div class="rate">
        Planning Poker
        <img src="assets/images/rates.svg" class="rate__img" alt="" [class.rate__img--clickable]="user$ | async" (click)="onRate()">
        <span class="rate__text">{{ rates }}</span>
      </div>

      <div class="nav-links">
        <a matTooltip="try our application for retrospectives" class="izi-retro" href="https://izi-retro.web.app" target="_blank">
          <img alt src="assets/images/iziRetro.png">
        </a>
        <app-share></app-share>
        <ng-container *ngIf="user$ | async as user">
          <mat-icon *ngIf="userData?.isAdmin" matTooltip="Open Admin panel" (click)="sidenav.toggle()" class="admin-icon" mat-list-icon>
            menu
          </mat-icon>
          <mat-icon matTooltip="Logout" class="admin-icon" (click)="logout()"
            mat-list-icon>exit_to_app
          </mat-icon>
        </ng-container>
      </div>
    </mat-toolbar>

    <app-christmas-lights *ngIf="themeConfiguration.christmasThemeEnabled"></app-christmas-lights>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
