@import "../assets/scss/main-theme";

mat-sidenav {
  background-color: $main-accent;

  &-container {
    height: 100%;
    width: 100%;
  }

  &-content {
    background-color: $main-accent;
  }

  .close-sidenav {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

mat-toolbar {
  align-items: center;
  background-color: $secondary-background;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

.back-icon,
.admin-icon {
  cursor: pointer;
  padding-left: 10px;
  transition: .3s;

  &:hover {
    color: darken(white, 50);
  }
}

.izi-retro {
  img {
    cursor: pointer;
    display: flex;
    height: 25px;
    margin-right: 10px;
  }
}

.rate {
  align-items: center;
  display: flex;
  flex: 1 1 auto;

  &__img {
    height: 25px;
    margin-left: 15px;
    transition: .3s;
    transform: scale(1);

    &--clickable {
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__text {
    font-size: 1em;
    margin-left: 5px;
    font-weight: bold;
  }
}

@media (max-width: $screen-sm) {
  .nav-links .izi-retro {
    display: none;
  }
}
