@import './../../../assets/scss/main-theme';

.room {

  &__title {
    color: $main-font-color;
    margin-bottom: 0;
    text-align: center;
  }

  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 40px 40px;

    @media (max-width: $screen-sm) {
      padding: 0;
    }
  }

  &__tickets {
    background-color: $secondary-background;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;

    @media (max-width: $screen-sm) {
      margin: 20px 40px 0;
    }
  }

  &__side-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__action-buttons {
    margin-top: 10px;
    width: 100%;

    &--primary {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    border-radius: 10px;
    margin: 5px 0;

    &--full-width {
      margin: 0;
      width: 100%;
    }
  }

  app-cards-board {
    width: 70%;

    @media (max-width: $screen-sm) {
      width: 100%;
    }
  }

  .mat-list-base {
    padding-top: 0;
  }
}
