<ng-container *ngIf="session$ | async as sessionData">

  <h2 class="room-title">
    {{ sessionData[0].title }}
  </h2>

  <div class="container">
    <app-cards-board [type]="sessionData[0].cardsType"></app-cards-board>

    <mat-list *ngIf="users$ | async as users">
      <h3 mat-subheader>Members</h3>
      <mat-list-item *ngFor="let person of users">
        <img matListAvatar [src]="person.photoURL" alt="">
        <h4 mat-line>{{ person.name }}</h4>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="container">
    <div class="app-list">
      <app-list></app-list>
    </div>
  </div>
</ng-container>
