@import './../../../assets/main-theme';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 40px;

  @media (max-width: 470px) {
    padding: 0;
  }
}

app-cards-board {
  width: 70%;

  @media (max-width: 470px) {
    width: 100%;
  }
}

.mat-list {
  background-color: @secondary-background;
  border-radius: 20px;
  width: 30%;

  @media (max-width: 470px) {
    margin: 20px 40px 0;
    width: 100%;
  }
}

.mat-list-base {
  padding-top: 0;
}

.app-list {
  background-color: @secondary-background;
  border-radius: 20px;
  margin: 0 40px;
  width: 100%;
}
