@import './../../../assets/main-theme';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 40px;

  @media (max-width: 470px) {
    padding: 0;
  }
}

app-cards-board {
  width: 70%;

  @media (max-width: 470px) {
    width: 100%;
  }
}

.mat-list {
  background-color: @secondary-background;
  border-radius: 20px;

  @media (max-width: 470px) {
    margin: 20px 40px 0;
    width: 100%;
  }
}

.mat-list-base {
  padding-top: 0;
}

.app-list {
  background-color: @secondary-background;
  border-radius: 20px;
  margin: 0 40px;
  width: 100%;
}

.room-title {
  margin-bottom: 0;
  text-align: center;
}


.side-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.action-buttons {
  width: 100%;
  margin-top: 10px;
}

.start-button {
  width: 100%;
  border-radius: 10px;
}

.main-buttons {
  display: flex;
  flex-direction: column;

  button {
    border-radius: 10px;
    margin: 5px 0;
  }
}

.user-vote {
  color: @error-background;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 600;
}
