<div class="room" *ngIf="currentUser$ | async as currentUser">
  <h3 class="room__title">
    <app-ticket-preview *ngIf="activeTicket$ | async as activeTicket else noSelected" [ticket]="activeTicket"></app-ticket-preview>

    <ng-template #noSelected>
      {{ messages.notSelected }}
    </ng-template>
  </h3>

  <div class="room__container">
    <app-cards-board
      @scaleIn
      *ngIf="!showResults"
      [type]="session?.cardsType"
      (cardClicked)="onCardClicked($event)"
      [selected]="selectedCard">
    </app-cards-board>

    <app-chart
      *ngIf="showResults"
      [currentUser]="currentUser"
      [votes]="votes"
      (setAverage)="onSetAverage($event)"
    ></app-chart>

    <div class="room__side-content">
      <img
        *ngIf="(christmasThemeEnabled$ | async)?.christmasThemeEnabled"
        alt=""
        class="room__header"
        src="assets/images/santa.png"
      >

      <app-users-list
        (userClick)="onUserClick($event)"
        [users]="users$ | async"
        [showResults]="showResults"
      ></app-users-list>

      <div class="room__action-buttons">
        <button
          mat-raised-button class="room__button room__button--full-width"
          [routerLink]="['/report', session?.id]"
        >Open Report</button>
      </div>

      <ng-container *ngIf="currentUser?.isAdmin">
        <ng-container *ngIf="activeTicket$ | async as activeTicket else noActiveTicket">
          <div class="room__action-buttons room__action-buttons--primary">
            <button class="room__button xs-mt-0" mat-raised-button (click)="onSkipTicket(showResults)">{{ showResults ? 'Next Ticket' : 'Skip Ticket' }}</button>
            <button class="room__button" mat-raised-button (click)="onRevote(activeTicket)" *ngIf="showResults">Vote Again</button>
            <button class="room__button" mat-raised-button (click)="onFinishVoting()" *ngIf="!showResults">Finish Voting</button>
          </div>
        </ng-container>
        <ng-template #noActiveTicket>
          <div class="room__action-buttons">
            <button
              mat-raised-button
              (click)="onStartVoting()"
              class="room__button room__button--full-width"
            >Start
          </button>
        </div>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="room__container">
    <div class="room__tickets">
      <app-tickets
        [currentUser]="currentUser"
        [session]="session"
        [tickets]="tickets"
        (addTicket)="onAddTicket($event)"
        (removeTicket)="onRemoveTicket($event)"
        (revote)="onRevote($event)"
      ></app-tickets>
    </div>
  </div>
</div>
