@import './../../../assets/main-theme';

.room {

  &__title {
    margin-bottom: 0;
    text-align: center;
  }

  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 40px 40px;

    @media (max-width: @screen-xs-max) {
      padding: 0;
    }
  }

  &__app-list {
    background-color: @secondary-background;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;

    @media (max-width: @screen-xs-max) {
      margin: 20px 40px 0;
    }
  }

  &__side-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__action-buttons {
    margin-top: 10px;
    width: 100%;

    &--primary {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    border-radius: 10px;
    margin: 5px 0;

    &--start {
      margin: 0;
      width: 100%;
    }
  }

  &__list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__vote {
    font-size: 24px;
    font-weight: 600;
  }

  &__vote,
  &__status {
    color: @red;
    cursor: pointer;
    margin-left: 10px;
  }

  &__timer {
    color: @red;
    font-size: 16px;
    font-weight: 600;
  }

  &__user-img {
    cursor: pointer;
  }

  app-cards-board {
    width: 70%;

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  .mat-list {
    background-color: @secondary-background;
    border-radius: 20px;

    @media (max-width: @screen-xs-max) {
      margin: 40px 40px 0;
      width: 100%;
    }
  }

  .mat-list-base {
    padding-top: 0;
  }
}
