<ng-container *ngIf="tickets?.length">
  <mat-list-item
    *ngFor="let ticket of tickets"
    class="tickets-list"
    [class.tickets-list--active]="ticket.ticketId === activeId">

    <mat-icon mat-list-icon>description</mat-icon>
    <h4 mat-line [class.tickets-list--completed]="ticket.voted && !ticket.skipped">
      <app-ticket-preview [ticket]="ticket"></app-ticket-preview>
    </h4>

    <button *ngIf="isRevote && ticket.voted" mat-icon-button (click)="onRevote(ticket)">
      <mat-icon matTooltip="Revote">replay</mat-icon>
    </button>
    <button *ngIf="isAdmin" mat-icon-button (click)="onRemoveTicket(ticket)">
      <mat-icon>delete_forever</mat-icon>
    </button>

  </mat-list-item>
</ng-container>
