/* You can add global styles to this file, and also import other style files */
@import "assets/main-theme";

html, body {
  height: 100%;
}

body {
  background-color: @main-accent;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-bar {
  background-color: @light-background;

  &--error {
    background-color: @error-background;
    color: @main-font-color;
  }
}
